@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Inconsolata:400,700");
* {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Set up padding mixins so we can extend them later */
/* `section.section` styling now */
/* SINGLE COLUMN */
/* TWO COLUMN STYLING */
/* `#section` styling */
#version {
  float: right;
  font-weight: 400;
  padding: 0;
  height: 64px;
  line-height: 64px;
  font-family: 'Inconsolata', Consolata, monospace;
  color: #415858; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #f0f4f4;
  font-size: 14px; }
  body main {
    min-height: 100%; }
  body #sections {
    display: flex;
    flex-direction: column; }
    body #sections .section > .comment {
      background: #fcfdfd;
      line-height: 160%; }
      body #sections .section > .comment > .text a {
        color: #577575;
        text-decoration: underline; }
      body #sections .section > .comment > .text code {
        font-family: 'Inconsolata', Consolata, monospace;
        display: inline;
        background: #f0f4f4;
        border: 1px solid #d3dede;
        border-radius: 2px;
        padding: 0px 2px;
        margin: 0 1px; }
      body #sections .section > .comment > .text pre {
        font-family: 'Inconsolata', Consolata, monospace;
        margin: 24px 0;
        white-space: pre-wrap;
        word-wrap: break-word; }
        body #sections .section > .comment > .text pre .hljs-keyword {
          color: #00994d; }
        body #sections .section > .comment > .text pre .hljs-name,
        body #sections .section > .comment > .text pre .hljs-built_in {
          color: #660099; }
        body #sections .section > .comment > .text pre .hljs-type {
          color: #4d1a44; }
        body #sections .section > .comment > .text pre .hljs-literal {
          color: #990066;
          font-weight: bold; }
        body #sections .section > .comment > .text pre .hljs-number {
          color: #12a12a; }
        body #sections .section > .comment > .text pre .hljs-regexp,
        body #sections .section > .comment > .text pre .hljs-string {
          color: #7d4d36; }
        body #sections .section > .comment > .text pre .hljs-symbol {
          color: #000099; }
        body #sections .section > .comment > .text pre .hljs-function {
          color: gray; }
        body #sections .section > .comment > .text pre .hljs-attr,
        body #sections .section > .comment > .text pre .hljs-params {
          color: #1a4d1a; }
        body #sections .section > .comment > .text pre .hljs-comment {
          color: #70c299;
          font-weight: bold; }
        body #sections .section > .comment > .text pre .hljs-meta {
          color: #339966; }
      body #sections .section > .comment > .text p + p {
        text-indent: 1em;
        margin-top: 8px; }
      body #sections .section > .comment > .text blockquote p {
        text-indent: 0; }
      body #sections .section > .comment > .text h1 code, body #sections .section > .comment > .text h2 code, body #sections .section > .comment > .text h3 code, body #sections .section > .comment > .text h4 code, body #sections .section > .comment > .text h5 code, body #sections .section > .comment > .text h6 code, body #sections .section > .comment > .text pre code {
        background: transparent;
        border: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
        text-transform: none; }
      body #sections .section > .comment > .text h1 {
        font-size: 24px;
        min-height: 64px;
        line-height: 64px;
        border-bottom: 1px solid #d3dede;
        margin-bottom: 16px; }
      body #sections .section > .comment > .text * + h1 {
        margin-top: 48px; }
      body #sections .section > .comment > .text h2 {
        font-size: 21px;
        min-height: 48px;
        line-height: 48px;
        border-bottom: 1px solid #d3dede;
        margin-bottom: 14px; }
      body #sections .section > .comment > .text * + h2 {
        margin-top: 42px; }
      body #sections .section > .comment > .text h3 {
        font-size: 18px;
        min-height: 36px;
        line-height: 36px;
        border-bottom: 1px solid #d3dede;
        margin-bottom: 12px; }
      body #sections .section > .comment > .text * + h3 {
        margin-top: 36px; }
      body #sections .section > .comment > .text h4 {
        font-size: 16px;
        min-height: 32px;
        line-height: 32px;
        margin-bottom: 10px; }
      body #sections .section > .comment > .text * + h4 {
        margin-top: 24px; }
      body #sections .section > .comment > .text h1, body #sections .section > .comment > .text h2, body #sections .section > .comment > .text h3 {
        font-weight: bold; }
      body #sections .section > .comment > .text ul, body #sections .section > .comment > .text ol {
        margin-left: 18px;
        margin-top: 8px;
        margin-bottom: 8px; }
      body #sections .section > .comment > .text h1 {
        font-size: 24px;
        min-height: 38px;
        line-height: 38px;
        border-bottom: 1px solid #d3dede;
        margin-bottom: 14px; }
      body #sections .section > .comment > .text * + h1 {
        margin-top: 24px; }
      body #sections .section > .comment > .text h2 {
        font-size: 19px;
        min-height: 34px;
        line-height: 34px;
        border-bottom: 1px solid #d3dede;
        margin-bottom: 12px; }
      body #sections .section > .comment > .text * + h2 {
        margin-top: 20px; }
      body #sections .section > .comment > .text h3 {
        font-size: 17px;
        min-height: 28px;
        line-height: 28px;
        border-bottom: 1px solid #d3dede;
        margin-bottom: 10px; }
      body #sections .section > .comment > .text * + h3 {
        margin-top: 18px; }
      body #sections .section > .comment > .text h4 {
        font-size: 14px;
        min-height: 22px;
        line-height: 22px;
        margin-bottom: 8px; }
      body #sections .section > .comment > .text * + h4 {
        margin-top: 16px; }
      body #sections .section > .comment > .text h1, body #sections .section > .comment > .text h2, body #sections .section > .comment > .text h3, body #sections .section > .comment > .text h4 {
        color: #577575; }
    body #sections .section > .code > pre {
      white-space: pre-wrap;
      word-wrap: break-all;
      word-break: break-all;
      font-size: 14px;
      font-family: 'Inconsolata', Consolata, monospace;
      font-family: 'Inconsolata', Consolata, monospace;
      line-height: 135%; }
      body #sections .section > .code > pre .hljs-keyword {
        color: #00994d; }
      body #sections .section > .code > pre .hljs-name,
      body #sections .section > .code > pre .hljs-built_in {
        color: #660099; }
      body #sections .section > .code > pre .hljs-type {
        color: #4d1a44; }
      body #sections .section > .code > pre .hljs-literal {
        color: #990066;
        font-weight: bold; }
      body #sections .section > .code > pre .hljs-number {
        color: #12a12a; }
      body #sections .section > .code > pre .hljs-regexp,
      body #sections .section > .code > pre .hljs-string {
        color: #7d4d36; }
      body #sections .section > .code > pre .hljs-symbol {
        color: #000099; }
      body #sections .section > .code > pre .hljs-function {
        color: gray; }
      body #sections .section > .code > pre .hljs-attr,
      body #sections .section > .code > pre .hljs-params {
        color: #1a4d1a; }
      body #sections .section > .code > pre .hljs-comment {
        color: #70c299;
        font-weight: bold; }
      body #sections .section > .code > pre .hljs-meta {
        color: #339966; }
    body #sections .section.markdown > .code > .markdown {
      font-family: 'Inconsolata', Consolata, monospace;
      line-height: 150%; }
      body #sections .section.markdown > .code > .markdown a {
        color: #577575;
        text-decoration: underline; }
      body #sections .section.markdown > .code > .markdown code {
        font-family: 'Inconsolata', Consolata, monospace;
        display: inline;
        background: #f0f4f4;
        border: 1px solid #d3dede;
        border-radius: 2px;
        padding: 0px 2px;
        margin: 0 1px; }
      body #sections .section.markdown > .code > .markdown pre {
        font-family: 'Inconsolata', Consolata, monospace;
        margin: 24px 0;
        white-space: pre-wrap;
        word-wrap: break-word; }
        body #sections .section.markdown > .code > .markdown pre .hljs-keyword {
          color: #00994d; }
        body #sections .section.markdown > .code > .markdown pre .hljs-name,
        body #sections .section.markdown > .code > .markdown pre .hljs-built_in {
          color: #660099; }
        body #sections .section.markdown > .code > .markdown pre .hljs-type {
          color: #4d1a44; }
        body #sections .section.markdown > .code > .markdown pre .hljs-literal {
          color: #990066;
          font-weight: bold; }
        body #sections .section.markdown > .code > .markdown pre .hljs-number {
          color: #12a12a; }
        body #sections .section.markdown > .code > .markdown pre .hljs-regexp,
        body #sections .section.markdown > .code > .markdown pre .hljs-string {
          color: #7d4d36; }
        body #sections .section.markdown > .code > .markdown pre .hljs-symbol {
          color: #000099; }
        body #sections .section.markdown > .code > .markdown pre .hljs-function {
          color: gray; }
        body #sections .section.markdown > .code > .markdown pre .hljs-attr,
        body #sections .section.markdown > .code > .markdown pre .hljs-params {
          color: #1a4d1a; }
        body #sections .section.markdown > .code > .markdown pre .hljs-comment {
          color: #70c299;
          font-weight: bold; }
        body #sections .section.markdown > .code > .markdown pre .hljs-meta {
          color: #339966; }
      body #sections .section.markdown > .code > .markdown p + p {
        text-indent: 1em;
        margin-top: 8px; }
      body #sections .section.markdown > .code > .markdown blockquote p {
        text-indent: 0; }
      body #sections .section.markdown > .code > .markdown h1 code, body #sections .section.markdown > .code > .markdown h2 code, body #sections .section.markdown > .code > .markdown h3 code, body #sections .section.markdown > .code > .markdown h4 code, body #sections .section.markdown > .code > .markdown h5 code, body #sections .section.markdown > .code > .markdown h6 code, body #sections .section.markdown > .code > .markdown pre code {
        background: transparent;
        border: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
        text-transform: none; }
      body #sections .section.markdown > .code > .markdown h1 {
        font-size: 24px;
        min-height: 64px;
        line-height: 64px;
        border-bottom: 1px solid #d3dede;
        margin-bottom: 16px; }
      body #sections .section.markdown > .code > .markdown * + h1 {
        margin-top: 48px; }
      body #sections .section.markdown > .code > .markdown h2 {
        font-size: 21px;
        min-height: 48px;
        line-height: 48px;
        border-bottom: 1px solid #d3dede;
        margin-bottom: 14px; }
      body #sections .section.markdown > .code > .markdown * + h2 {
        margin-top: 42px; }
      body #sections .section.markdown > .code > .markdown h3 {
        font-size: 18px;
        min-height: 36px;
        line-height: 36px;
        border-bottom: 1px solid #d3dede;
        margin-bottom: 12px; }
      body #sections .section.markdown > .code > .markdown * + h3 {
        margin-top: 36px; }
      body #sections .section.markdown > .code > .markdown h4 {
        font-size: 16px;
        min-height: 32px;
        line-height: 32px;
        margin-bottom: 10px; }
      body #sections .section.markdown > .code > .markdown * + h4 {
        margin-top: 24px; }
      body #sections .section.markdown > .code > .markdown h1, body #sections .section.markdown > .code > .markdown h2, body #sections .section.markdown > .code > .markdown h3 {
        font-weight: bold; }
      body #sections .section.markdown > .code > .markdown ul, body #sections .section.markdown > .code > .markdown ol {
        margin-left: 18px;
        margin-top: 8px;
        margin-bottom: 8px; }
      body #sections .section.markdown > .code > .markdown p code {
        background-color: #d3dede;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.8); }
    body #sections .section:first-child > .comment {
      padding-bottom: 128px; }
    body #sections .section:first-child > .code {
      padding-bottom: 128px; }
    body #sections .section:nth-last-child(2) {
      flex: 1; }
      @media (min-width: 720px) {
        body #sections .section:nth-last-child(2) > .comment {
          padding-bottom: 64px; }
        body #sections .section:nth-last-child(2) > .code {
          padding-bottom: 64px; } }
    body #sections #header {
      font-family: 'Inconsolata', Consolata, monospace; }
      body #sections #header .comment {
        padding-bottom: 0 !important; }
      body #sections #header header .file-path {
        position: relative; }
        body #sections #header header .file-path #project-overview {
          transition: background-color 0.1s ease;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          font-weight: bold; }
          body #sections #header header .file-path #project-overview:hover {
            cursor: pointer; }
          body #sections #header header .file-path #project-overview:hover {
            background-color: #f6f8f8; }
        body #sections #header header .file-path #project-overview,
        body #sections #header header .file-path .files-menu #filename {
          display: block;
          border-bottom: 1px solid #d3dede; }
        body #sections #header header .file-path #project-overview {
          height: 65px;
          line-height: 65px; }
        body #sections #header header .file-path #filename {
          display: block;
          height: 48px;
          line-height: 48px; }
        body #sections #header header .file-path .files-menu .file a {
          display: block;
          height: 42px;
          line-height: 42px; }
        body #sections #header header .file-path .files-menu .files {
          background-color: #fcfdfd;
          width: 100%; }
        body #sections #header header .file-path .file.separator {
          border-top: 1px solid #dfe7e7; }
        body #sections #header header .file-path .files-menu .file a {
          transition: background-color 0.1s ease;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          position: relative;
          overflow: hidden; }
          body #sections #header header .file-path .files-menu .file a:hover {
            cursor: pointer; }
          body #sections #header header .file-path .files-menu .file a:hover {
            background-color: #f6f8f8; }
          body #sections #header header .file-path .files-menu .file a .language {
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 14px;
            font-size: 0;
            position: absolute;
            right: 8px;
            top: 14px; }
          body #sections #header header .file-path .files-menu .file a .filename {
            display: inline-block;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
      body #sections #header header .links {
        position: absolute;
        top: 0;
        right: 0;
        height: 64px;
        display: block;
        padding: 0 8px; }
        body #sections #header header .links .link {
          list-style-type: none;
          display: inline-block;
          padding: 8px 0; }
        body #sections #header header .links .link a {
          background-image: url("links.png");
          font-size: 0;
          display: block;
          width: 48px;
          height: 48px;
          opacity: 0.5; }
          body #sections #header header .links .link a:hover {
            opacity: 0.7; }
          body #sections #header header .links .link a:active {
            opacity: 0.3; }
        body #sections #header header .links .link a.github {
          background-position: 0 0; }
        body #sections #header header .links .link a.home {
          background-position: 48px 0; }
        body #sections #header header .links .link a.twitter {
          background-position: 96px 0; }
    @media (max-width: 719px) {
      body #sections .section > .comment {
        width: 100%;
        min-height: none; }
        body #sections .section > .comment.empty {
          display: none; }
      body #sections .section > .comment > .text {
        padding: 16px 5vh 16px 5vh; }
      body #sections .section.footer > .comment > .content {
        padding-left: 5vh;
        padding-right: 5vh; }
      body #sections .section #project-overview,
      body #sections .section .files-menu #filename,
      body #sections .section .files-menu .file a {
        padding-right: 5vh;
        padding-left: 5vh; } }

@media (max-width: 719px) and (max-width: 480px) {
  body #sections .section > .comment > .text {
    padding: 16px 12px 16px 12px; }
  body #sections .section.footer > .comment > .content {
    padding-left: 12px;
    padding-right: 12px; }
  body #sections .section #project-overview,
  body #sections .section .files-menu #filename,
  body #sections .section .files-menu .file a {
    padding-right: 12px;
    padding-left: 12px; } }
    @media (max-width: 719px) {
      body #sections .section > .code {
        border-bottom: 1px solid #d3dede;
        border-top: 1px solid #d3dede; }
        body #sections .section > .code.empty {
          display: none !important; }
      body #sections .section > .code > pre,
      body #sections .section.footer > .code > .content {
        padding: 16px 5vh 16px 5vh; }
      body #sections .section.markdown > .code > .markdown p, body #sections .section.markdown > .code > .markdown pre, body #sections .section.markdown > .code > .markdown h1, body #sections .section.markdown > .code > .markdown h2, body #sections .section.markdown > .code > .markdown h3, body #sections .section.markdown > .code > .markdown h4, body #sections .section.markdown > .code > .markdown h5, body #sections .section.markdown > .code > .markdown h6 {
        padding-left: 5vh;
        padding-right: 5vh; }
      body #sections .section.markdown > .code > .markdown ul, body #sections .section.markdown > .code > .markdown ol {
        padding-left: 5vh;
        padding-right: 5vh; }
      body #sections .section.markdown > .code > .markdown pre {
        margin-left: 5vh;
        border-left: 4px solid #d3dede; }
      body #sections .section.markdown > .code > .markdown blockquote {
        margin-top: 24px;
        margin-bottom: 24px;
        padding-left: 5vh;
        padding-right: 5vh;
        background-color: #d3dede; }
        body #sections .section.markdown > .code > .markdown blockquote p {
          padding: 12px;
          font-style: italic; }
      body #sections .section.markdown > .code > .markdown pre {
        padding-left: 16px; } }

@media (max-width: 719px) and (max-width: 480px) {
  body #sections .section > .code > pre,
  body #sections .section.footer > .code > .content {
    padding: 16px 12px 16px 12px; }
  body #sections .section.markdown > .code > .markdown p, body #sections .section.markdown > .code > .markdown pre, body #sections .section.markdown > .code > .markdown h1, body #sections .section.markdown > .code > .markdown h2, body #sections .section.markdown > .code > .markdown h3, body #sections .section.markdown > .code > .markdown h4, body #sections .section.markdown > .code > .markdown h5, body #sections .section.markdown > .code > .markdown h6 {
    padding-left: 12px;
    padding-right: 12px; }
  body #sections .section.markdown > .code > .markdown ul, body #sections .section.markdown > .code > .markdown ol {
    padding-left: 12px;
    padding-right: 12px; }
  body #sections .section.markdown > .code > .markdown pre {
    margin-left: 12px;
    border-left: 4px solid #d3dede; }
  body #sections .section.markdown > .code > .markdown blockquote {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #d3dede; }
    body #sections .section.markdown > .code > .markdown blockquote p {
      padding: 12px;
      font-style: italic; }
  body #sections .section.markdown > .code > .markdown pre {
    padding-left: 16px; } }
    @media (max-width: 719px) {
      body #sections .section.footer > .code {
        border-top: 1px solid #d3dede; } }
    @media (min-width: 720px) {
      body #sections #header .files-path {
        position: fixed;
        width: 30%;
        min-width: 24em;
        max-width: 64em;
        padding-right: 1px; }
      body #sections #header #filename {
        transition: background-color 0.1s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 48px !important;
        position: relative; }
        body #sections #header #filename:hover {
          cursor: pointer; }
        body #sections #header #filename:hover {
          background-color: #f6f8f8; }
        body #sections #header #filename:after {
          display: block;
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width: 48px;
          height: 48px;
          background-image: url("dropdown.png"); }
      body #sections #header .files-menu .files {
        position: absolute;
        border-bottom: 1px solid #d3dede;
        overflow-y: auto;
        max-height: calc(100vh - 48px - 64px - 1px);
        transition: opacity 0.2s ease; }
      body #sections #header.files-hidden .files-menu .files {
        opacity: 0;
        pointer-events: none; }
      body #sections .section {
        display: flex; }
        body #sections .section > .comment {
          width: 30%;
          min-width: 24em;
          max-width: 64em;
          border-right: 1px solid #d3dede; }
        body #sections .section > .comment > .text {
          padding: 8px 24px 8px 24px; }
        body #sections .section.footer > .comment > .content {
          padding-left: 24px;
          padding-right: 24px; }
        body #sections .section #project-overview,
        body #sections .section .files-menu #filename,
        body #sections .section .files-menu .file a {
          padding-right: 24px;
          padding-left: 24px; }
        body #sections .section.footer > .comment {
          border-top: 1px solid #dfe7e7; }
        body #sections .section > .code {
          flex: 1; }
        body #sections .section > .code > pre,
        body #sections .section.footer > .code > .content {
          padding: 8px 64px 8px 24px; }
        body #sections .section.markdown > .code > .markdown p, body #sections .section.markdown > .code > .markdown pre, body #sections .section.markdown > .code > .markdown h1, body #sections .section.markdown > .code > .markdown h2, body #sections .section.markdown > .code > .markdown h3, body #sections .section.markdown > .code > .markdown h4, body #sections .section.markdown > .code > .markdown h5, body #sections .section.markdown > .code > .markdown h6 {
          padding-left: 24px;
          padding-right: 64px; }
        body #sections .section.markdown > .code > .markdown ul, body #sections .section.markdown > .code > .markdown ol {
          padding-left: 24px;
          padding-right: 64px; }
        body #sections .section.markdown > .code > .markdown pre {
          margin-left: 24px;
          border-left: 4px solid #d3dede; }
        body #sections .section.markdown > .code > .markdown blockquote {
          margin-top: 24px;
          margin-bottom: 24px;
          padding-left: 24px;
          padding-right: 64px;
          background-color: #d3dede; }
          body #sections .section.markdown > .code > .markdown blockquote p {
            padding: 12px;
            font-style: italic; }
        body #sections .section.markdown > .code > .markdown pre {
          padding-left: 16px; }
        body #sections .section.footer > .code {
          border-top: 1px solid #d3dede; } }
    body #sections #footer > .comment, body #sections #footer > .code {
      height: 48px;
      line-height: 48px;
      padding-top: 0;
      padding-bottom: 0; }
    body #sections #footer > .comment .content {
      font-size: 13px;
      color: #628484;
      font-weight: bold; }
    body #sections #footer > .code {
      text-align: right; }
    body #sections #footer > .code .content {
      font-size: 14px;
      font-family: 'Inconsolata', Consolata, monospace;
      color: #6c9393; }
    @media (max-width: 719px) {
      body #sections #footer {
        text-align: right; } }
  body.index #header #project-overview {
    width: auto; }
    body.index #header #project-overview .name {
      font-size: 24px; }
    body.index #header #project-overview #version {
      font-weight: 700;
      float: none;
      margin-left: 2em; }
  body.index #header #filename {
    display: none !important; }
  body.index #header .files-menu .files {
    border-bottom: none !important;
    opacity: 1 !important;
    transform: none !important;
    pointer-events: auto !important; }

/*# sourceMappingURL=style.css.map */